@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-brand-green: #1b4332;
  --color-brand-gold: #d4af37;
  --color-brand-dark: #050505;
  --color-brand-light: #f5f5f0;
}

:root {
  --background: #ffffff;
  --foreground: #1b4332;
}

.dark {
  --background: #050505;
  --foreground: #f5f5f0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;
  overflow-x: hidden;
  /* Prevent horizontal scroll */
}